/node_modules
/public/hot
/public/storage
/public/fonts
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/mix-manifest.json
/node_modules
/public/hot
/public/uploads/documents
/public/uploads/email
/public/uploads/ProfilePicture
/public/storage
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
